@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body,
html {
    overflow-y: auto;
}

.info-box {
    position: absolute;
    top: 250px;
    left: 20px;
    padding: 20px;

    background: linear-gradient(#4b4ef4e1, #35f16acf);
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    text-align: center;
    max-width: 250px;
}

@media (max-width: 768px) {
    .info-box {
        position: static;
        margin: 20px auto;
        width: 90%;
        max-width: 300px;
        font-size: 14px;
        padding: 15px;
    }
}


.info-box p {
    margin: 0;
    color: #ffffff;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7), 0px 2px 8px rgba(255, 255, 255, 0.6);
}


.info-box p {
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body.dark-mode .info-box {

    background: linear-gradient(#c651fde7, #ffd83de4);
    color: white;
}


.main {
    height: 72vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main .card {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .card {
        margin: 10px;
        padding: 15px;
    }
}

.card {
    background-color: #f7f8fa;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(14, 103, 205, 0.799), 0px 2px 8px 1px rgb(8, 210, 246);
    overflow: hidden;
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 6px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    border: 1px solid rgb(211, 211, 211);
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;


}

.dropdown-item {
    padding: 0.5rem 1rem;
    text-align: center;
}

img {
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
}

h3 {
    margin-bottom: 15mm;
}

.square {
    border: 3mm solid #fdfdfd;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

a:hover {
    color: #0062ff;
}

.bluetext {
    color: #007bff;
}

.container {
    max-width: 900px;
    overflow: visible;
}

.list-group-item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

@media (max-width: 576px) {
    .list-group-item {
        font-size: 0.9rem;
    }
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;  
    max-width: 800px; 
    height: 90%; 
    max-height: 600px; 
    background-color: white;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.iframe-content {
    width: 100%;
    height: 100%;
    border: none; 
}


@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}

footer .col-md-6 {
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    footer .col-md-6 {
        flex: 1 1 100%;
        text-align: center;
    }
}

body {
    background-color: #cad4f4;
    color: #333;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.dark-mode {
    background-color: #333;
    color: #cad4f4;
}

body.dark-mode footer {
    color: #0062ff;
}

.card.dark-mode {
    background-color: #555;
    border-color: #888;
}

.card.dark-mode .card-body {
    color: white;
}


.width-card {
    max-width: 300px;
    height: 300px;
}

i {
    height: 20px;
    width: 20px;
    margin: 2mm;
}

.menu-item:hover {
    color: #0062ff;
}

.link {
    color: white;
    background-color: #5291f5;
    border-radius: 3px;
    margin: 5px;
    padding: 8px 16px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    box-shadow: 0 4px #244b9a;
    border: 1px solid #004fcc;
    transition: all 0.2s ease-in-out;
}

.link {
    color: #060606;
    background-color: #f1f1f1;
    font-style: bold;
    border-radius: 3px;
    margin: 5px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    box-shadow: 0 4px #ccc;
    border: 1px solid #bbb;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    color: black;
    background-color: #e0e0e0;
    box-shadow: 0 2px #ccc;
    transform: translateY(2px);
}

.link:active {
    background-color: #d1d1d1;
    box-shadow: 0 1px #aaa;
    transform: translateY(3px);
}

.logo {
    width: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

li {
    margin: 2mm;
    border-radius: 2px;
}

li:hover {
    box-shadow: 0px 0px 16px 3px rgb(153, 153, 227);
}

.stack {
    width: 80px;
    height: auto;
    background-color: #000000;
    border-radius: 8px;
    margin: 1.5mm;
    box-shadow: 0px 4px 10px rgba(14, 103, 205, 0.799), 0px 2px 8px 1px rgb(8, 210, 246);
}

.stackdiv {
    margin-bottom: 3mm;
    margin-top: 3mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .stack {
        width: 60px;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
}

.close-button:hover {
    color: #000;
}